body {
    background-color: #CDF0EA;
    padding-inline: 95px;
    margin-inline: 95px;
}

div {
    padding:70px 150px;
    margin-left: 100px;
    margin-top: auto;
    border-width: 50px;
    border-radius: 80px;
}

h1 {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-weight:bolder;
    color: #9CB4CC;
}

p{
    font-size: 18px;
    font-family: 'Gluten', cursive;
    color: #AD8B73;
}

.intro{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-bottom: 60px;
    background-color: bisque;
    width: 650px;
    height: 240px;
}

.data{
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 50px;
    margin-bottom: 60px;
    background-color: bisque;
    width: 650px;
    height: 190px;
    line-height: 30px;
}

.study{
    padding-top: 10px;
    padding-bottom: 45px;
    margin-left: 50px;
    margin-bottom: 60px;
    background-color: bisque;
    width: 650px;
    height: 150px;
}

.experience{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-bottom: 60px;
    background-color: #e7caa5;
    width: 650px;
    height: 230px;
}

.header3{
    background: #232136;
    padding-left: 10px;
    width: 650px;
    height: 230px;
    font-size: 28px;
    font-weight: bold;
    padding-top: 13px;
    border-radius: 70px 0px 71px 0px;
    color: white;
    margin-top: 38px; 
}

.inspiration{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-bottom: 60px;
    background-color: #e7caa5;
    width: 650px;
    height: 230px;
}

.ul{
    font-family: 'Architects Daughter', cursive;
    color: #bd9561;
}

.resume{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-bottom: 60px;
    background-color: #e7caa5;
    width: 650px;
    height: 120px;
}